body {
    width: 100%;
}

#board {
    display: grid;
    margin: 0 auto;
    width: clamp(300px, 80vw, 70vh);
    height: clamp(300px, 80vw, 70vh);
    grid-template-columns: repeat(8, 1fr);
}

#target {
    opacity: 0.3;
    color: black;
}
#target:hover {
    opacity: 1;
}

/* color: transparent is an absurd temporary fix */
.tile {
    background-color: green;
    display: grid;
    place-content: center;
    color: transparent;
}

.tile:nth-child(16n + 1),
.tile:nth-child(16n + 3),
.tile:nth-child(16n + 5),
.tile:nth-child(16n + 7),
.tile:nth-child(16n + 10),
.tile:nth-child(16n + 12),
.tile:nth-child(16n + 14),
.tile:nth-child(16n + 16) {
    background-color: #e1e2be;
}
